/* syntaxe :selector { property: value }*/
/* mesure : p {padding: 25px;} */
/* color : #0000 rgb(0,0,0) black*/


*{
    background-color: rgb(90, 201, 186); /* background*/
  }  
  h1{  
      /*text*/
      text-align: center;  
      text-shadow:4px 4px 8px blue;
      text-decoration:underline;
      letter-spacing:5px;
      color: rgb(255, 255, 255);  

    /*font*/
      font-family:georgia,garamond,serif;
  } 

  /* Using Images */
  img{
    border: 1px solid rgb(226, 147, 147);
    float: center;
    opacity: 0.6;
<<<<<<< Updated upstream
    /* visibility:hidden; */
=======
    width: 400px;
    height:222px
>>>>>>> Stashed changes
  }
  img:hover {
    border: 10px solid rgb(228, 204, 67);
    border-radius: 15px;
    opacity: 1;
    /* cursor */
    cursor: pointer;
  }
  /* Links */
  a:link {color: #0d2fc7}
  a:visited {color: #1ae01a}
  a:hover {color: #FFCC00}
  a:active {color: #FF00CC}
  
  /*table*/
  table.one {
    border-style:dotted; 
    border-collapse:separate;
    width:400px;
    border-spacing:10px;
 }
 table.two {
  border-style:solid;
    border-collapse:separate;
    width:400px;
    border-spacing:10px 50px;
 }
 /* outline */
 p{
   padding-bottom: 5%; 
   outline-width:5px;
   outline-style:dotted;
 }
 /* dimension */
 h6{
  max-width:100px;
   height:200px; 
   border:1px solid red; 
   padding:5px; margin:10px;
 }
 /* scroll */

 .scroll {
  display:block;
  border: 1px solid red;
  padding:5px;
  margin-top:5px;
  width:300px;
  height:50px;
  overflow:scroll;
}
.auto {
  display:block;
  border: 1px solid red;
  padding:5px;
  margin-top:5px;
  width:300px;
  height:50px;
  overflow:auto;
}


h2{
  position:absolute; left:80px; top:20px; background-color:yellow;
}
/* pseudo element */
.auto::first-line{
  background-color: blanchedalmond;
}
/* @ Rules */
p { color: #ff0000 !important; }
p { color: #000000; }